*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
}

.sections-container{
    display: flex;
    flex-direction: column;
    flex:auto;
}



ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
    margin: 0;
}

a{
    text-decoration: none;
}

.section-1{
    display: flex;
    flex-flow: column wrap;
    padding: 0px 300px;
    background-color: #1F2937;
    flex: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;
}

.logo{
    font-size: 24px;
    color:#F9FAF8
}

.container-1{
    display:flex;
    flex-flow: column wrap;
    align-content: space-between;
    max-height: 350px;
    margin: 100px 0px;
    flex: auto;
}

.sunset{
    height: 300px;
    width: 600px;
}

.container-2{
    display: flex;
    flex-flow: column wrap;
    max-width: 400px;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 100px;
    padding: 8px;
}

.section-2{
    display:flex; 
    flex-direction: column;
    flex: auto;
    margin-bottom: 48px;
}

.info-header-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 48px 0px;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: space-evenly;   
    margin: 0px 164px;
}

.card{
    display:flex;
    flex-flow: column wrap;
    max-width: 250px;
    text-align: center;
}

.card-image{
    height: 166px;
    width: 250px;
    border: 8px solid #3882F6;
    border-radius: 25px;

}

.section-3{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 48px 0px;
}

.quote-text-continer{
    font-size: 36px;
    max-width: 800px;
    color: #1F2937;
}

.quote-name{
    font-weight: bold;
    margin-left: 500px;
    font-size: 24px;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.secondary-text,
li{
    font-size: 18px;
    color: #E5E7EB
}

.section-4{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    margin: 100px 300px;
    padding: 40px 55px;
    align-items: center;
    border-radius: 10px;
}

.section-4-header{
    font-size: 24px;
    font-weight: bold;
}

.action-button{
    border: 2px solid #E5E7EB;
    padding: 8px 28px;
    font-size: 18px;
    width: 150px;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
}
